{%extends "face/layout.html"%}
{%block content%}
       <h1 class="space-tag">it happened</h1>
       <h3>it happened</h3>

       {% for slide in slides%}
         {{slide.quantity}}
         {{slide.title}}
       {%endfor%}

       <p>Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Maxime, corrupti provident
             animi totam accusamus aperiam veritatis molestiae
              quod quia rerum, iusto enim? Iure nihil esse enim
               ab aliquid, necessitatibus perspiciatis.</p>

    <a href="">happened</a>
      <h1>it happened</h1>
{%endblock content%}